# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [95]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

%matplotlib inline

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [92]:
from datetime import datetime

start_date = '2015-01-01'

end_date = datetime.today().strftime('%Y-%m-%d')

date_range = pd.date_range(start=start_date, end=end_date, freq='D')

date_range

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2024-05-13', '2024-05-14', '2024-05-15', '2024-05-16',
               '2024-05-17', '2024-05-18', '2024-05-19', '2024-05-20',
               '2024-05-21', '2024-05-22'],
              dtype='datetime64[ns]', length=3430, freq='D')

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [73]:
import pandas_datareader.data as web 
from datetime import datetime 
from alpha_vantage.timeseries import TimeSeries

In [74]:
# Alpha Vantage API key 

api_key = '9NVHUTDWL8MIIMZ8'

ts = TimeSeries(key=api_key, output_format='pandas')

df_apple, meta_data_apple = ts.get_daily(symbol='AAPL', outputsize='full')

df_apple.head()

            1. open   2. high    3. low  4. close   5. volume
date
2024-05-22  192.265  192.8231  190.2700    190.90  34124703.0
2024-05-21  191.090  192.7300  190.9201    192.35  42309401.0
2024-05-20  189.325  191.9199  189.0100    191.04  44361275.0
2024-05-17  189.510  190.8100  189.1800    189.87  41282925.0
2024-05-16  190.470  191.0950  189.6601    189.84  52845230.0

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [75]:
df_apple['stock'] = ['AAPL']*len(df_apple)

df_apple = df_apple[:1]

df_apple

            1. open   2. high  3. low  4. close   5. volume stock
date
2024-05-22  192.265  192.8231  190.27     190.9  34124703.0  AAPL

In [76]:
meta_data_apple

{'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
 '2. Symbol': 'AAPL',
 '3. Last Refreshed': '2024-05-22',
 '4. Output Size': 'Full size',
 '5. Time Zone': 'US/Eastern'}

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [77]:
# Tesla

df_tesla, meta_data_tesla = ts.get_daily(symbol='TSLA', outputsize='full')

df_tesla = df_tesla[:1]

df_tesla['stock'] = ['TSLA']

df_tesla

            1. open  2. high  3. low  4. close   5. volume stock
date
2024-05-22   182.85    183.8  178.12    180.11  85948292.0  TSLA

In [78]:
# IBM 

df_ibm, meta_data_ibm = ts.get_daily(symbol='IBM', outputsize='full')

df_ibm = df_ibm[:1]

df_ibm['stock'] = ['IBM']

df_ibm.head()

            1. open  2. high  3. low  4. close  5. volume stock
date
2024-05-22   173.39   174.99  172.76    173.69  3236227.0   IBM

In [79]:
# Microsoft 

df_microsoft, meta_data_microsoft = ts.get_daily(symbol='MSFT', outputsize='full')

df_microsoft = df_microsoft[:1]

df_microsoft['stock'] = ['MSFT']

df_microsoft

            1. open  2. high  3. low  4. close   5. volume stock
date
2024-05-22   430.09   432.41  427.13    430.52  17828532.0  MSFT

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [80]:
df = pd.concat([df_apple, df_tesla, df_ibm, df_microsoft], axis=0)
df

            1. open   2. high  3. low  4. close   5. volume stock
date
2024-05-22  192.265  192.8231  190.27    190.90  34124703.0  AAPL
2024-05-22  182.850  183.8000  178.12    180.11  85948292.0  TSLA
2024-05-22  173.390  174.9900  172.76    173.69   3236227.0   IBM
2024-05-22  430.090  432.4100  427.13    430.52  17828532.0  MSFT

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [81]:
df.set_index(['stock'])

       1. open   2. high  3. low  4. close   5. volume
stock
AAPL   192.265  192.8231  190.27    190.90  34124703.0
TSLA   182.850  183.8000  178.12    180.11  85948292.0
IBM    173.390  174.9900  172.76    173.69   3236227.0
MSFT   430.090  432.4100  427.13    430.52  17828532.0

### Step 7. Create a dataFrame called vol, with the volume values.

In [84]:
vol = df['5. volume']

In [87]:
vol = pd.DataFrame(vol)

In [89]:
vol.rename(columns={'5. volume':'volume'})

                volume
date
2024-05-22  34124703.0
2024-05-22  85948292.0
2024-05-22   3236227.0
2024-05-22  17828532.0

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [90]:
vol = vol.resample('W').sum()

vol.head()

              5. volume
date
2024-05-26  141137754.0

### Step 9. Find all the volume traded in the year of 2015