# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
cars1 = cars1.loc[:, 'mpg':'car']

In [5]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [6]:
print(cars1.shape[0])
print(cars2.shape[0])

198
200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [7]:
cars = pd.concat([cars1, cars2], axis=0)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [9]:
nr_owners = np.random.randint(15000, high=73000, size=398, dtype='l')
nr_owners

array([22002, 20374, 53828, 54822, 16390, 18365, 35732, 55921, 42266,
       35866, 58396, 63088, 37915, 55731, 20526, 62213, 17191, 53682,
       21237, 32492, 31751, 35981, 27719, 25185, 54497, 15268, 19291,
       28874, 32675, 25809, 57210, 22957, 66574, 55214, 17725, 27472,
       25887, 17195, 57373, 45106, 67692, 41799, 46471, 32009, 70792,
       30209, 68117, 39956, 60436, 68659, 43641, 53405, 22681, 19112,
       45547, 19803, 46916, 23136, 61801, 27815, 67402, 23252, 39650,
       33078, 33574, 45380, 20960, 70216, 67408, 67960, 52948, 68257,
       50968, 66737, 17519, 61278, 46832, 22899, 45236, 28659, 46833,
       56171, 62882, 60104, 31898, 54048, 46563, 44725, 55921, 68743,
       16247, 65412, 55323, 41629, 37007, 48856, 26785, 47425, 36654,
       39185, 18588, 25487, 50924, 58088, 32421, 57436, 63563, 19954,
       67724, 19774, 30266, 55116, 47575, 27915, 17992, 56752, 26157,
       41416, 40130, 72988, 49736, 23423, 47675, 27316, 47405, 43583,
       30801, 46624, 72859, 42005, 17081, 32498, 69118, 35790, 47652,
       50059, 18617, 16752, 69796, 21975, 16081, 43492, 45114, 28010,
       54573, 22827, 24171, 69041, 66356, 62344, 49870, 34334, 47770,
       40864, 23984, 25083, 23550, 31171, 38011, 49813, 27884, 48715,
       41183, 53945, 27146, 18278, 42193, 72756, 49742, 22271, 62261,
       18504, 46426, 67708, 57188, 22777, 15215, 49263, 70187, 71299,
       42362, 47393, 27371, 31307, 58773, 61234, 39446, 67504, 18531,
       71299, 61385, 32430, 68225, 26570, 52266, 50714, 42704, 49881,
       31349, 31797, 58944, 42950, 61312, 27344, 65404, 28139, 57654,
       31636, 54876, 31220, 19445, 56330, 52465, 31842, 39772, 72062,
       45906, 19027, 18353, 71211, 50752, 24408, 34176, 72054, 43142,
       49196, 24154, 36431, 41096, 35343, 38185, 42824, 71725, 27953,
       67778, 41889, 34831, 30121, 47246, 41818, 17878, 32568, 63701,
       39088, 54265, 45379, 39825, 43178, 39449, 23804, 29215, 39176,
       32862, 41104, 35706, 65504, 43195, 52081, 23663, 43220, 60483,
       26966, 52383, 37659, 43196, 63826, 61930, 21243, 64063, 60034,
       55978, 31907, 22064, 71267, 17892, 57346, 69055, 55132, 33441,
       17436, 58283, 42287, 52269, 61184, 29615, 65254, 30414, 31568,
       32002, 52161, 39687, 31560, 70712, 72366, 60489, 26070, 32989,
       29330, 40292, 27968, 28699, 56011, 19510, 22778, 43608, 51046,
       34013, 68009, 50901, 27414, 54232, 42600, 49456, 38808, 67010,
       26375, 37471, 24884, 62171, 25891, 65295, 34293, 28779, 68781,
       66927, 23897, 37865, 28643, 40729, 45593, 17507, 58056, 66466,
       69700, 34262, 70919, 18583, 27105, 58218, 32505, 40122, 20703,
       43534, 16847, 40939, 42329, 44756, 71526, 32903, 60964, 17218,
       36931, 58238, 54744, 62787, 42671, 37998, 43398, 21629, 72387,
       21842, 29354, 70302, 37865, 58926, 53902, 69351, 70390, 24718,
       66895, 55651, 65165, 57789, 45590, 26719, 54485, 47967, 71351,
       16506, 21381, 22192, 69129, 65588, 47998, 21474, 63637, 65351,
       55089, 27249, 38168, 37518, 71114, 45876, 47963, 72189, 70662,
       28499, 52125])

### Step 8. Add the column owners to cars

In [10]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,47963
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,72189
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,70662
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,28499
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,52125